<h1>Students#new</h1>
<p>Find me in app/views/students/new.html.erb</p>

<h3>Student Form</h3>

<%= form_for(@student) do |f| %>
  <label>Student:</label><br>
  <%= f.label :first_name %>:
  <%= f.text_field :first_name %><br>
  <%= f.label :last_name %>:
  <%= f.text_area :last_name %><br>

  <%= f.submit %>
<% end %>