<h1>SchoolClasses#edit</h1>
<p>Find me in app/views/school_classes/edit.html.erb</p>

<h3>Form</h3>

<%= form_for(@school_class) do |f| %>
  <label>School class:</label><br>
  <%= f.label :title %>:
  <%= f.text_field :title %><br>
  <%= f.label :room_number %>:
  <%= f.text_area :room_number %><br>

  <%= f.submit %>
<% end %>